{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <!-- Thanh tabs -->
    <ul class="nav nav-tabs" id="monitorTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="url-tab" data-bs-toggle="tab" data-bs-target="#urlTab" type="button" role="tab" aria-controls="urlTab" aria-selected="true">URL</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tech-tab" data-bs-toggle="tab" data-bs-target="#techTab" type="button" role="tab" aria-controls="techTab" aria-selected="false">Tech</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="cve-tab" data-bs-toggle="tab" data-bs-target="#cveTab" type="button" role="tab" aria-controls="cveTab" aria-selected="false">CVE</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="urlTech-tab" data-bs-toggle="tab" data-bs-target="#urlTechTab" type="button" role="tab" aria-controls="urlTechTab" aria-selected="false">URL_Tech</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="techCve-tab" data-bs-toggle="tab" data-bs-target="#techCveTab" type="button" role="tab" aria-controls="techCveTab" aria-selected="false">Tech_CVE</button>
      </li>
    </ul>

    <!-- Nội dung cho từng tab -->
    <div class="tab-content mt-3" id="monitorTabsContent">
      <!-- Tab URL -->
      <div class="tab-pane fade show active" id="urlTab" role="tabpanel" aria-labelledby="url-tab">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>URL</th>
              <th>Trạng thái</th>
              <th>Last Success</th>
              <th>Theo dõi</th>
            </tr>
          </thead>
          <tbody>
            {% for u in url_list %}
            <tr id="url-{{ u.id }}">
              <td>{{ u.id }}</td>
              <td>{{ u.url }}</td>
              <td class="status">--</td>
              <td class="last_success">--</td>
              <td>
                <!-- Bootstrap Switch -->
                <div class="form-check form-switch">
                  <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="monitorSwitch-{{ u.id }}" 
                    onchange="toggleMonitor('{{ u.id }}')" 
                    {% if u.monitoring_active == 1 %}checked{% endif %}
                  >
                  <label class="form-check-label" for="monitorSwitch-{{ u.id }}">Theo dõi</label>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Tab Tech -->
      <div class="tab-pane fade" id="techTab" role="tabpanel" aria-labelledby="tech-tab">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tech</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for t in tech_list %}
            <tr>
              <td>{{ t.id }}</td>
              <td>{{ t.tech }}</td>
              <td>{{ t.version }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Tab CVE -->
      <div class="tab-pane fade" id="cveTab" role="tabpanel" aria-labelledby="cve-tab">
        <div style="overflow: scroll;">
            <table class="table table-bordered">
            <thead>
                <tr>
                <th>ID</th>
                <th>CVE</th>
                <th>Severity</th>
                <th>Description</th>
                <th>Vector</th>
                <th>Base Score</th>
                <th>Base Severity</th>
                <th>Exploitability Score</th>
                <th>Impact Score</th>
                <th>Kết quả Nuclei</th>
                <th>Thời gian update</th>
                </tr>
            </thead>
            <tbody>
                {% for cve in cve_list %}
                <tr>
                <td>{{ cve.id }}</td>
                <td style="white-space: nowrap; width: fit-content;">{{ cve.cve }}</td>
                <td>{{ cve.baseSeverity }}</td>
                <td>
                    <div style="max-height: 3em; line-height: 1.5em; overflow-y: auto;">
                    {{ cve.description }}
                    </div>
                </td>
              </td>
                <td>{{ cve.vectorString }}</td>
                <td>{{ cve.baseScore }}</td>
                <td>{{ cve.baseSeverity }}</td>
                <td>{{ cve.exploitabilityScore }}</td>
                <td>{{ cve.impactScore }}</td>
                <td>{{ cve.nucleiResult }}</td>
                <td>{{ cve.updated_at }}</td>
                {% endfor %}
            </tbody>
            </table>
        </div>
      </div>

      <!-- Tab URL_Tech -->
      <div class="tab-pane fade" id="urlTechTab" role="tabpanel" aria-labelledby="urlTech-tab">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>URL_ID</th>
              <th>TECH_ID</th>
              <th>Detected_At</th>
            </tr>
          </thead>
          <tbody>
            {% for ut in url_tech_list %}
            <tr>
              <td>{{ ut.id }}</td>
              <td>{{ ut.url_id }}</td>
              <td>{{ ut.tech_id }}</td>
              <td>{{ ut.detected_at }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Tab Tech_CVE -->
      <div class="tab-pane fade" id="techCveTab" role="tabpanel" aria-labelledby="techCve-tab">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>TECH_ID</th>
              <th>CVE_ID</th>
              <th>Detected_At</th>
            </tr>
          </thead>
          <tbody>
            {% for tc in tech_cve_list %}
            <tr>
              <td>{{ tc.id }}</td>
              <td>{{ tc.tech_id }}</td>
              <td>{{ tc.cve_id }}</td>
              <td>{{ tc.detected_at }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
<script>
  var socket = io();
  socket.on('status_update', function(data) {
      var row = document.getElementById('url-' + data.url_id);
      if (row) {
          var statusCell = row.querySelector('.status');
          var lastSuccessCell = row.querySelector('.last_success');
          statusCell.innerText = data.url_status;
          if (data.last_success_time)
            lastSuccessCell.innerText = data.last_success_time;
          if (data.monitoring_active == 1) {
            document.getElementById('monitorSwitch-' + data.url_id).checked = true;
          } else {
            document.getElementById('monitorSwitch-' + data.url_id).checked = false;
          }
      }
  });

  function toggleMonitor(url_id) {
    const checked = document.getElementById('monitorSwitch-' + url_id).checked;
    if (checked) {
      startMonitor(url_id);
    } else {
      stopMonitor(url_id);
    }
  }

  function stopMonitor(url_id) {
    fetch('/stop_monitor/' + url_id, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                console.log("Đã dừng theo dõi URL " + url_id);
                document.getElementById('url-' + url_id).querySelector('.status').innerHTML = "Đã dừng";
            }
        });
  }

  function startMonitor(url_id) {
    parseInt(url_id);
    fetch('/start_monitor/' + url_id, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                console.log("Đã khởi động lại theo dõi URL " + url_id);
            }
        });
  }
</script>
{% endblock %}