* {
    font-size: 18px;
}

.small-font-table {
    font-size: 0.8em; 
}

#loading-spinner {
    border: 10px solid #cfcccc; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .dropdown-item.notification-item {
    transition: background-color 0.2s ease;
 }
  

.dropdown-item.notification-item:hover {
    background-color: #e0e0e0; 
 } */

.dropdown-item.notification-item.unread.new {
    background-color: #a0faae;
    transition: background-color 0.2s ease;
  }
  
.dropdown-item.notification-item.unread.modified {
background-color: #fff4c2;
transition: background-color 0.2s ease;
}

.dropdown-item.notification-item.unread.url_offline {
    background-color: #faafa0;
    transition: background-color 0.2s ease;
  }
  
.dropdown-item.notification-item.unread.waf_offline {
background-color: #faafa0;
transition: background-color 0.2s ease;
}

.dropdown-item.notification-item:hover {
background-color: #ffffff;
}
  
  